:root {
    --background: #020001;
    --text-white: #f5efee;
    --text-red: #b80005;
    --text-blue: #314ff8;
    --text-orange: #fb6340;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }


html {
    font-family: "Consolas";
    line-height: 1.15; }

body {
    margin: 0;
    font-family: "Consolas" ;
    font-size: 18px;
    font-weight: 3;
    line-height: 1.5;
    color: var(--text-white);
    text-align: center;
    background-color: var(--background); }

    ul {
        list-style-type: none;
        margin: 10px;
        padding: 0;
        overflow: hidden;
        background-color: var(--background);
        border-bottom: 1px solid var(--text-red);
      }
      
      li {
        float: left;
        border: 1px solid var(--text-white);
      }
      
      li a {
        display: block;
        color: var(--text-white);
        text-align: center;
        padding: 1px 45px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: var(--background);
      }

      .active {
        background-color: VAR(--text-red);
        border: 1px solid var(--text-red);
      }