        <!-- Navbar -->

            <ul>
                <li>
                    <a class="active" href="/">
                        <i></i>
                        <p>INPUTS</p>
                    </a>
                </li>
                <li>
                    <a href="/simulator.html">
                        <i></i>
                        <p>OUTPUT</p>
                    </a>
                </li>
                <li>
                    <a href="/risks.html">
                        <i></i>
                        <p>RISK MAP</p>
                    </a>
                </li>
            </ul>
        <!-- End Navbar -->
        