        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
            <ul class="navbar-nav ml-auto">
                <li class="navbar-absolute">
                    <a href="/">
                        <i class="tim-icons icon-compass-05"></i>
                        <p>Inputs</p>
                    </a>
                </li>
                <li class="navbar-absolute">
                    <a href="/simulator.html">
                        <i class="tim-icons icon-planet"></i>
                        <p>Output</p>
                    </a>
                </li>
                <li class="navbar-absolute">
                    <a href="/risks.html">
                        <i class="tim-icons icon-globe-2"></i>
                        <p>Risk Map</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Navbar -->
        