
    <div>
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div>
            <ul>
                <li>
                    <a href="/">
                        <i></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/simulator.html">
                        <i></i>
                        <p>Trajectory Analysis</p>
                    </a>
                </li>
                <li>
                    <a href="/risks.html">
                        <i></i>
                        <p>Risk Maps</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
