{% extends "layouts/base.html" %}

{% block title %} Trajectory Simulator {% endblock %}

<!-- Specific Page CSS goes HERE  -->
<!--{% block stylesheets %}{% endblock stylesheets %}-->
{% block content %}

  <h1>TRAJECTORY SIMULATOR</h1>

  <p>INPUT AREA</p>
  <br/><br/>

  <form>
    <label for="fname">Datetime:</label>
    <input type="datetime" id="datetime" name="datetime"><br><br>

    <label for="lname">Simulation Runtime:</label>
    <input type="number" id="runtime" name="runtime"><br><br>
    <label for="lname">Step Size:</label>
    <input type="number" id="stepsize" name="stepsize"><br><br>
  </form>

  <br/><br/>
  <h3>LOCATION CONFIG</h3>     
  <br/><br/>
  <form>
    <label for="fname">Latitude:</label>
    <input type="number" id="latitude" name="latitude"><br><br>
    <label for="lname">Longitude:</label>
    <input type="number" id="longitude" name="longitude"><br><br>
    <label for="lname">Altitude:</label>
    <input type="number" id="altitude" name="altitude"><br><br>
    
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    
  </form>
  <br/><br/>
  <h3>ROCKET & ENGINE</h3>     
  <br/><br/>
  <form>
    <label for="fname">Mass</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    
  </form>
  <form>
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit">
  </form>
    

    <!-- Content goes here -->
  {% endblock content %}   

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}