{% extends "layouts/base-fullscreen.html" %}

{% block title %} Error 500 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <h3>
                                Error 500
                            </h3>
                        </div>
                        <div>

                            <p>
                                Server ERROR - Please contact support.
                            </p>

                        </div>
                        <div>
                            <a href="/">HOME</a>
                            
                            <br /><br />
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
